<h1>Head Of The Department</h1>
<p>Find me in app/views/cec/admin2.html.erb</p>
<div class="table-bordered" style="float:right;width:30%;height:900px;align:right;"><%= link_to "AddStaff", cec_new_path, :id=>"new_link", :class => 'btn btn-success', remote:true%> </div>
